input {
  background-color: #f2f2f2;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  outline: 0;
  padding: 15px;
  width: 100%;
  margin-bottom: 10px;
}
input::placeholder {
  color: #cccccc;
}

input[type="submit"] {
  background: #4caf50;
  color: #fff;
  width: 100%;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #43a047;
}
